<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Registrarse en</mat-card-title>
      <mat-card-title>E-Commerce Davivienda</mat-card-title>
      <mat-card-subtitle>Ingresa tus datos para crear tu cuenta</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @if (errorMsg) {
      <mat-error>{{ errorMsg }}</mat-error>
      }
      <form (ngSubmit)="onSubmit()" #form="ngForm" autocomplete="off">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="name" name="name" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo electrónico</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required email />
          @if (form.controls['email']?.invalid && form.controls['email']?.touched) {
          <mat-error> Por favor ingresa un correo válido. </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="password"
            name="password"
            required
            minlength="6"
          />
          @if (form.controls['password']?.invalid && form.controls['password']?.touched) {
          <mat-error> La contraseña debe tener al menos 6 caracteres. </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput [(ngModel)]="phone" name="phone" required />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="full-width"
          [disabled]="form.invalid || loading"
        >
          @if (loading) { Cargando... } @else { Registrarse }
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <a href="/login" class="forgot-password">¿Ya tienes cuenta? Inicia sesión</a>
    </mat-card-actions>
  </mat-card>
</div>
